body {
  background: #ccc url(./assets/img/bg.jpg) center/cover no-repeat !important;
  min-height: 100vh;
  position: relative;
}

body:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.45);
}

audio {
  max-width: 100%;
}

#root {
  overflow: hidden;
  padding-bottom: 30px;
}

.app-wrapper {
  position: relative;
  z-index: 2;
}

.logo {
  font-family: 'Audiowide', cursive;
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px 7px rgba(11, 66, 11, 0.7);
}

.score {
  text-align: right;
  color: #fff;
}

.wrong-answer {
  background: #ffcdd2 !important;
}

.correct-answer {
  background: #c8e6c9 !important;
}

.bird-avatar {
  width: 100px !important;
  height: 100px !important;
}
.buttons-wrapper {
  text-align: center;
}
.MuiMobileStepper-root {
  background: none !important;
}

.MuiMobileStepper-progress {
  width: 100% !important;
}

.rhap_container  {
  box-shadow: none;
  padding: 0;
  height: auto;
  flex-direction: row;
  max-width: 100%;
  min-width: 0;
  align-items: center;
}

.rhap_time {
  display: none;
}

.rhap_progress-section {
  flex: 0 0 calc(100% - 46px);
  order: 1;
}

.rhap_controls-section {
  flex: 0 0 46px;
  margin: 0;
}

.rhap_additional-controls,
.rhap_volume-controls {
  display: none;
}
