body {
  background: #ccc !important;
}

audio {
  max-width: 100%;
}

.logo {
  font-family: 'Audiowide', cursive;
  font-size: 48px;
}

.score {
  text-align: right;
}

.wrong-answer {
  background: red !important;
}

.correct-answer {
  background: green !important;
}

.bird-avatar {
  width: 100px !important;
  height: 100px !important;
}
.buttons-wrapper {
  text-align: center;
}

.MuiMobileStepper-progress {
  width: 100% !important;
  margin: 1rem;
}

.rhap_container  {
  box-shadow: none;
  padding: 0;
  height: auto;
  flex-direction: row;
  max-width: 100%;
  min-width: 0;
  align-items: center;
}

.rhap_time {
  display: none;
}

.rhap_progress-section {
  flex: 0 0 calc(100% - 46px);
  order: 1;
}

.rhap_controls-section {
  flex: 0 0 46px;
  margin: 0;
}

.rhap_additional-controls,
.rhap_volume-controls {
  display: none;
}
